<%= form_for(@confession, html: { :class => "form--confession"}) do |f| %>
  <% if @confession.errors.any? %>
    <div id="error_explanation">
      <h2>Följande saker gick fel:</h2>

      <ul>
      <% @confession.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.text_area :body, maxlength: 98 %>
  </div>
  <div class="character-count">
    <span>0</span> av 98 tecken.
  </div>

  <div class="actions">
    <% if f.object.new_record? %>
        <%= f.submit 'Lägg till', class: 'button button--green' %>
      </div>
    <% else %>
        <%= f.submit 'Redigera', class: 'button button--green button--edit' %>
      </div>
      <%= link_to 'Tillbaka', confessions_path, :class => "button button--gray-40 button--small" %>
      <%= link_to 'Radera', @confession, method: :delete, class: 'button button--red button--small button--delete', data: { confirm: 'Är du säker?' } %>
    <% end %>

<% end %>
