<%= form_for(@confession, html: { :class => "form--confession"}) do |f| %>
  <% if @confession.errors.any? %>
    <div id="error_explanation">
      <h2>Följande saker gick fel:</h2>

      <ul>
      <% @confession.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.text_area :body, maxlength: 98 %>
  </div>
  <div class="character-count">
    <span>0</span> av 98 tecken.
  </div>

  <div class="actions">
    <% if f.object.new_record? %>
      <%= f.submit 'Lägg till', class: 'button button--green' %>
    <% else %>
      <p><%= f.submit 'Redigera', class: 'button button--green' %></p>
      <p><%= link_to 'Radera', @confession, method: :delete, class: 'button button--orange button--small', data: { confirm: 'Är du säker?' } %></p>
    <% end %>
  </div>
<% end %>
