<%= form_for(@confession, html: { :class => "form--confession"}) do |f| %>
  <% if @confession.errors.any? %>
    <div id="error_explanation">
      <h2>Följande saker gick fel:</h2>

      <ul>
      <% @confession.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.text_area :body %>
  </div>

  <div class="actions">
    <% if f.object.new_record? %>
      <%= f.submit 'Lägg till', class: 'button button--green' %>
    <% else %>
      <%= f.submit 'Redigera', class: 'button button--green' %>
    <% end %>
  </div>
<% end %>
