<% content_for :body_classes, "users confession--index" %>

<p class="notice"><%= notice %></p>

<section class="confession--index__container">

  <main class="confession--index__main">

    <div class="confession--index__header">
      <div class="title">
        <h3>Bekännelser</h3>
      </div>
      <div class="new">
        <%= link_to 'Ny bekännelse', new_confession_path, :class => "button button--green" %>
      </div>
    </div>

    <% @confessions.each do |confession| %>
    <article class="confession--index__confession">
      <div class="content">
        <%= simple_format(truncate(confession.body, :length => 200)) %>
        <% unless confession.featured? %>
          <div class="action">
            <%= link_to "Redigera", edit_confession_path(confession), :class => "button button--orange" %>
          </div>
        <% end %>
      </div>
    </article>
    <% end %>

    <div class="confession--index__mirror">
      <div class="meta">
        <h1><%= @mirror.family.name %></h1>
        <h2>Spegel</h2>
      </div>

      <div class="onoff">
        <div class="switch">
          <input type="checkbox" name="switch" class="switch-checkbox" id="myswitch" checked>
          <label class="switch-label" for="myswitch">
            <span class="switch-inner"></span>
            <span class="switch-switch"></span>
          </label>
        </div>
      </div>
    </div>

    <div class="confession--index__signout">
      <%= link_to "Logga ut", destroy_user_session_path, :class => "button button--gray-40 button--small" %>
    </div>

  </main>

</section>
