<% content_for :body_classes, "users confession--index" %>

<p class="notice"><%= notice %></p>

<section class="confession--index__container">

  <main class="confession--index__main">

    <div class="confession--index__new">
      <%= link_to 'Ny bekännelse', new_confession_path, :class => "button button--green" %>
    </div>

    <% @confessions.each do |confession| %>
    <article class="confession--index__confession">
      <div class="content">
        <%= link_to confession_path(confession) do %>
          <%= simple_format(truncate(confession.body, :length => 200)) %>
          <div class="action">
            <%= link_to "Redigera", edit_confession_path(confession), :class => "button button--green" %>
          </div>
        <% end %>
      </div>
    </article>
    <% end %>

    <div class="confession--index__signout">
      <%= link_to "Logga ut", destroy_user_session_path, :method => :delete, :class => "button button--gray-40 button--small" %>
    </div>

  </main>

</section>
