<% content_for :body_classes, "confession--show" %>

<section class="confession--show__hero">
  <div class="hero__container">
    <div class="hero__content">
      <h1>"<%= @confession.body %>"</h1>
    </div>
  </div>
</section>

<section class="confession--show__container">
  <aside class="confession--show__sidebar">
    <h2>Psykologen svarar</h2>

    <%= render 'shared/sharing_links' %>
  </aside>

  <main class="confession--show__main">
    <% if @confession.comment.present? %>
      <h3><%= @confession.comment.title %></h3>
      <%= simple_format(@confession.comment.body) %>

      <div class="author">
        <div class="author__photo" style="background-image: url('<%= image_path "face.jpg" %>');">
        </div>
        <div class="author__name">
          <p>
            Jacqueline Joo, KBT-terapeut<br>
            <%= link_to "Läs mer om henne här", psychologist_page_path %>
          </p>
        </div>
      </div>

    <% end %>
  </main>
</section>
