<nav class="navigation open">
  <ul>
    <%= nav_link 'Start', root_path %>
    <%= nav_link 'Se filmen', '#' %>
    <%= nav_link 'Om projektet', pages_about_path %>
    <%= nav_link 'Så fungerar speglarna', pages_about_mirrors_path %>
    <%= nav_link 'Vår psykolog', pages_psychologist_path %>
    <%= nav_link 'Besök dina.se', 'https://www.dina.se/' %>
  </ul>
</nav>
