<nav class="navigation">
  <ul>
    <%= nav_link 'Start', root_path %>
    <%= nav_link 'Se filmen', '#', :class => "open-video" %>
    <%= nav_link 'Om projektet', about_page_path %>
    <%= nav_link 'Så fungerar speglarna', about_mirrors_page_path %>
    <%= nav_link 'Vår psykolog', psychologist_page_path %>
    <%= nav_link 'Alla bekännelser', all_confessions_page_path %>

    <% if current_user %>
      <%= nav_link 'Dina bekännelser', confessions_path %>
    <% end %>

    <%= nav_link 'Besök dina.se', 'https://www.dina.se/' %>
  </ul>
</nav>
