<nav class="navigation open">
  <ul>
    <%= nav_link 'Start', root_path %>
    <%= nav_link 'Se filmen', '#' %>
    <%= nav_link 'Om projektet', about_page_path %>
    <%= nav_link 'Så fungerar speglarna', about_mirrors_page_path %>
    <%= nav_link 'Vår psykolog', psychologist_page_path %>
    <%= nav_link 'Besök dina.se', 'https://www.dina.se/' %>
  </ul>
</nav>
