<% content_for :body_classes, "home" %>

<div class="grid">

  <div class="cell headline headline--mobile">
    <div class="content">
      <h1>Badrumsbekännelser</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
      Mauris cursus nulla sed purus commodo.</p>
    </div>
  </div>
  <a href="#" class="cell action action--mobile open-video">
    <div class="content">
      <div class="play">
        <%= inline_svg "icons/play.svg" %>
      </div>
    </div>
  </a>

  <%= render "cell", :cell_id => 0 %>

  <div class="cell blank"></div>

  <%= render "cell", :cell_id => 1 %>

  <%= render "cell", :cell_id => 2 %>

  <div class="cell headline headline--tablet">
    <div class="content">
      <h1>Badrumsbekännelser</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
      Mauris cursus nulla sed purus commodo.</p>
    </div>
  </div>
  <a href="#" class="cell action action--tablet open-video">
    <div class="content">
      <div class="play">
        <%= inline_svg "icons/play.svg" %>
      </div>
    </div>
  </a>

  <div class="cell blank"></div>

  <%= render "cell", :cell_id => 3 %>

  <%= render "cell", :cell_id => 4 %>

  <%= link_to about_page_path, :class => "cell link" do %>
    <div class="content">
      Om projektet
    </div>
  <% end %>

  <%= render "cell", :cell_id => 5 %>

  <div class="cell headline headline--desktop">
    <div class="content">
      <h1>Badrumsbekännelser</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
      Mauris cursus nulla sed purus commodo.</p>
    </div>
  </div>

  <%= render "cell", :cell_id => 6 %>

  <%= render "cell", :cell_id => 7 %>

  <div class="cell blank"></div>

  <%= render "cell", :cell_id => 8 %>

  <%= render "cell", :cell_id => 9 %>

  <a href="#" class="cell action action--desktop open-video">
    <div class="content">
      <div class="play">
        <%= inline_svg "icons/play.svg" %>
      </div>
      <h2>Se filmen!</h2>
    </div>
  </a>

  <%= render "cell", :cell_id => 10 %>

  <div class="cell blank"></div>

  <div class="cell photo" style="background-image: url('<%= image_path "face.png" %>');">
  </div>

  <%= render "cell", :cell_id => 11 %>

  <div class="cell blank"></div>

  <%= link_to about_mirrors_page_path, :class => "cell link" do %>
    <div class="content">
      Så fungerar speglarna
    </div>
  <% end %>

  <%= render "cell", :cell_id => 12 %>

  <div class="cell blank"></div>

  <%= render "cell", :cell_id => 13 %>

  <div class="cell blank"></div>
</div>
